@font-face {
  font-family: inriaSerifRegular;
  src: url('./../fonts/InriaSerif-Regular.ttf');
}

@font-face {
  font-family: inriaSerifBold;
  src: url('./../fonts/InriaSerif-Bold.ttf');
}

@font-face {
  font-family: inriaSerifBoldItalic;
  src: url('./../fonts/InriaSerif-BoldItalic.ttf');
}

header {
  height: 1068px;
}

.navbar {
  align-items: baseline;
   background: linear-gradient(180deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%);
  height: 338px;
  padding: 26px 100px 0;
}
.navbar a {
  color: white;
}

.navbar-brand {
  font-size: 44px;
  margin-right: 70px;
}

.navbar-nav {
    flex-grow: 1;
}
.nav-item {
  padding: 8px 20px;
}

.navbar-user .btn-outline-secondary {
  background-color: rgba(255,255,255,.3);
  border-color: white;
  color: white;
  padding: 10px 30px;
}

.navbar-user .artboard {
  height: 40px;
  margin-right: 45px;
  width: 100px;
}

.trend-mark {
  width: 100%;
  opacity: .3;
}

.d-flex {
  position: relative;
}

.right-container {
  flex-basis: 50%;
}

.left-container {
  flex-basis: 50%;
}

.text-container {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.text-container  .first-part {
  color: #001C36;
  font-size: 133px;
  font-family: 'inriaSerifBold';
  line-height: 130px;
  display: inline-block;
}

.text-container  .second-part {
  color: #4E5C69;
  font-size: 133px;
  font-family: 'inriaSerifBold';
  line-height: 130px;
  display: inline-block;
}

.text-container  .description {
  color: #4E5C69;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  letter-spacing: 2px;
}

.img-container {
  position: absolute;
  width: 457px;
  height: 457px;
}

.half-video {
  height: 1000px;
}

.complete-video {
  height: 900px;
}

.image-container {
  height: 1000px;
}

.side-image-container {
  height: 457px;
}

.divider {
  background-color: #001C36;
  width: 1px;
  height: 850px;
  position: absolute;
  z-index: 2;
  margin-left: 135px;
  margin-top: 50px;
}

.fr-dots {
  position: absolute;
  top: 50%;
  right: 200px;
}

.fr-freedom {
  margin-top: -200px;
  padding: 0 85px;
}

.fr-freedom .right-container {
  border: 1px solid white;
  padding: 35px 35px 0 35px;
  z-index: 1;
}

.fr-freedom .left-container .text-container {
  text-align: end;
  width: 320px;
}

.fr-freedom .left-container .text-container .description {
  width: 210px;
}

.fr-adventure {
  margin-bottom: -90px;
  padding: 0 50px 0 120px;
}

.fr-adventure .left-container {
  border-left: 1px solid #001C36;
  padding-left: 50px;
  z-index: 1;
}

.fr-adventure .right-container .text-container {
  text-align: start;
  width: 450px;
}

.fr-adventure .right-container .text-container .description {
  width: 450px;
}


.fr-privacy {
  position: relative;
  width: 100%;
}

.fr-privacy .text-container {
  background-color: rgba(78,92,105,0.25);
  text-align: center;
  width: 810px;
}

.fr-privacy .img-container {
  top: -200px;
  right: 0;
  z-index: 1;
}

.fr-privacy .text-container  .first-part {
  color: white;
  font-size: 192px;
  font-family: 'inriaSerifBold';
  line-height: 230px;
}

.fr-privacy .text-container  .description {
  color: white;
  font-size: 21px;
  line-height: 60px;
  width: 600px;
}

.fr-luxury {
  padding: 0 120px;
  margin-top: 160px;
}

.fr-luxury .left-container {
  padding-left: 50px;
}

.fr-luxury .right-container {
  border: 1px solid #001C36;
  border-image: linear-gradient(to right, white 50%, #001C36 50% 100%);
  border-image-slice: 1;
  height: 1000px;
}

.fr-luxury .right-container .text-container {
  text-align: end;
  width: 260px;
}

.fr-luxury .right-container .text-container .description {
  width: 200px;
}

.fr-luxury .right-container:after {
  content: '';
  width: 2px;
  height: 500px;
  position: absolute;
  background-color: rgba(255,255,255,1);
  right: -1px;
  bottom: 0;
}

.fr-indulgence {
  padding: 0 120px;
}

.fr-indulgence .img-container {
  top: -228px;
  left: -135px;
  z-index: 1;
}

.fr-indulgence .left-container {
  border: 1px solid #001C36;
  border-image: linear-gradient(to left, white 50%, #001C36 50% 100%);
  border-image-slice: 1;
  height: 1000px;
}

.fr-indulgence .left-container .text-container {
  text-align: end;
  width: 420px;
}

.fr-indulgence .left-container .text-container .description {
  width: 275px;
}

.fr-indulgence .left-container:before {
  content: '';
  width: 3px;
  height: 500px;
  position: absolute;
  background-color: white;
  left: -1px;
  top: 0;
}

.fr-indulgence .left-container:after {
  content: '';
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background-color: white;
}

.fr-yacht {
  margin-top: 260px;
  position: relative;
  width: 100%;
}

.fr-yacht .image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fr-yacht .all-content {
  display: flex;
  height: 260px;
  margin-bottom: 77px;
}

.fr-yacht .text-container {
  width: 405px;
  display: flex;
  flex-wrap: wrap;
  margin: unset;
}

.fr-yacht .action-container {
  display: flex;
  flex-direction: column;
  padding-left: 110px;
}

.fr-yacht .action-container .btn-outline-secondary {
  background-color: rgba(255,255,255,.3);
  border-color: white;
  color: white;
  font-size: 29px;
  letter-spacing: 4px;
  line-height: 39px;
  height: 94px;
  margin-top: 10px;
}

.fr-yacht .action-container .btn-top {
  width: 189px;  
}

.fr-yacht .action-container .btn-bottom {
  width: 487px;
  margin-top: 70px;
}

.fr-yacht .text-container .first-part {
  color: white;
  font-size: 100px;
  font-family: 'inriaSerifBold';
  line-height: 90px;
  display: inline-block;
  margin-left: auto;
}

.fr-yacht .text-container .second-part {
  color: white;
  font-size: 100px;
  font-family: 'inriaSerifBold';
  line-height: 90px;
  display: inline-block;
}

.fr-yacht .text-container .description {
  color: white;
  font-size: 100px;
  font-family: 'inriaSerifBold';
  line-height: 90px;
  display: inline-block;
  margin-left: auto;
}

.fr-promise-light {
  height: 580px;
  margin-top: 300px;
  padding: 0 120px;
}

.fr-promise-light .text-container {
  margin: 0;
  padding-left: 100px;
  transform: initial;
  top: 60px;
  width: 510px;
}

.fr-promise-light .text-container .first-part {
  font-size: 100px;
  line-height: 111px;
  font-family: 'inriaSerifRegular';
}

.fr-promise-light .text-container .second-part {
  font-size: 100px;
  line-height: 111px;
  font-family: 'inriaSerifRegular';
}

.fr-promise-dark {
  background-color: #4E5C69;
  height: 580px;
  padding: 0 120px;
  width: 100%;
  margin-bottom: -1px;
}

.fr-promise-dark .text-container {
  margin: 0;
  padding-left: 100px;
  transform: initial;
  top: 60px;
  max-width: 630px;
}

.fr-promise-dark .text-container .description {
  color: white;
  font-size: 45px;
  line-height: 70px;
  font-family: 'inriaSerifBoldItalic';
}

.fr-promise-dark .text-container .btn-outline-secondary {
  font-size: 28px;
  margin-top: 60px;;
  background-color: rgba(255,255,255,.3);
  border-color: white;
  color: white;
  width: 320px;
  height: 82px;
}

footer .navbar {
  background: #4E5C69;
  height: 138px;
  padding: 0 100px;
}

footer .navbar-brand {
  margin-left: 30px;
}

footer .navbar-nav {
  justify-content: flex-end;
}
